@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

body {
  background-color: var(--color-background);
  color: #1e293b;
}